

/*
Author: Alphas

*/
/* ==========================================================================
   Alphas custom styles
   ========================================================================== */
	body{
		font-family: 'comfortaalight';
		

	
	}
	button{
		border: none;
	}
		
	.scrollbar{
		overflow-y: scroll;
		margin: auto;
		/*padding: 1%;*/
		background-color: #ffd431;
	}
	
	#body::-webkit-scrollbar{
		width: 12px;
		background-color: #272626;
	}
	
	#body::-webkit-scrollbar-track{
		background-color: #272626;
	}
	
	#body::-webkit-scrollbar-thumb{
		background-color: #ffd431;
	}
	
	.main-body{
		width:100%;
		height:98%;
		
	}

	.hoves-container {
		width: 100%;
		height: 100vh;
		background-color: #272626;
	}
	
	.hoves-container{
		
		.container-header{
			Transition: .72s cubic-bezier(0,0,1,1);
			-webkit-Transition: .72s cubic-bezier(0,0,1,1);
			transform: traslateY(-20%);
			-webkit-transform: translateY(-20%);

		}
		&.is-loaded{
			.container-header{
				transform: translateY(0);
				-webkit-transform: translateY(0);
			}
		}
	}

	
	.container-header{
		width: 100%;
		position: relative;
		display:table;
		background-color: #fff;
	}
	
	.svg-container{
		width: 50px;
		height: 50px;
		Position: relative;
		margin: 1.2%;
		text-align: center;
		Transition: .72s cubic-bezier(0,0,1,1);
		-webkit-Transition: .72s cubic-bezier(0,0,1,1);
	}
	
	svg {
		left: 0;
		top: 0;
		position: absolute;
	}
		
	
	
	#circle1{
		opacity:1;
		vector-effect:none;
		fill:none;
		fill-opacity:1;
		fill-rule:nonzero;
		stroke:#ffd431;
		stroke-width:3;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:4;
		stroke-dasharray: 230, 230;
		stroke-dashoffset:0 ;
		stroke-opacity:1;
		paint-order:markers stroke fill;
		Transition: .72s cubic-bezier(0.3,0,0.25,1);
		-webkit-Transition: .72s cubic-bezier(0.3,0,0.25,1);
			
	}
	
	#circle2{
		opacity:1;
		vector-effect:none;
		fill:none;
		fill-opacity:1;
		fill-rule:nonzero;
		stroke: #272626;
		stroke-width:3;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:4;
		stroke-dasharray: 230, 230;
		stroke-dashoffset:230;
		stroke-opacity:1;
		paint-order:markers stroke fill;
		Transition: .72s cubic-bezier(0.3,0,0.25,1);
		-webkit-Transition: .72s cubic-bezier(0.3,0,0.25,1);
			
	}
	
	#path1{
		display:inline;
		vector-effect:none;
		fill: #272626;
		fill-opacity:1;
		fill-rule:nonzero;
		stroke:none;
		stroke-width:3.57026744;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:4;
		stroke-dasharray:none;
		stroke-dashoffset:0;
		stroke-opacity:1;
		paint-order:markers fill stroke;
	}
	
	#path2{
		display:inline;
		vector-effect:none;
		fill:#ffd431;
		fill-opacity:1;
		fill-rule:nonzero;
		stroke:none;
		stroke-width:3.57026744;
		stroke-linecap:round;
		stroke-linejoin:round;
		stroke-miterlimit:4;
		stroke-dasharray:none;
		stroke-dashoffset:0;
		stroke-opacity:1;
		paint-order:markers fill stroke;
	}
	
	.svg-container svg:last-child{
		clip: rect(0, 40px, 40px, 0);
		Transition: .72s cubic-bezier(0.3,0,0.25,1);
		-webkit-Transition: .72s cubic-bezier(0.3,0,0.25,1);
	}
	
	.svg-container:hover svg:last-child{
		clip: rect(32px, 40px, 40px, 0);
	}
	
	
	.svg-container:hover #circle1{
		stroke-dashoffset:57.5;
	}
	
	.svg-container:hover #circle2{
		stroke-dashoffset:0;
	}
	
	.hoves {
		text-align: center;
		width: 100%;
		margin: auto;
		
	}	
	.hoves h1{
		
		display: inline-block;
		font-size: 50px;
		font-size: 2.125rem;
		line-height: 1.5;
		text-transform: lowercase;
		text-decoration: none;
		font-family: "Kessel 105","Helvetica Neue",Helvetica,Arial,sans-serif;
		position: relative;
		overflow: hidden;
		color: #fff;
		font-weight: 900;
		-webkit-font-smoothing: antialiased!important;
	}
	
	
	
	.hoves h1:before {
		color: #ffd431;
		content: attr(content);
		position: absolute;
		top: 0;
		left: 0;
		white-space: nowrap;
		width: 0;
		-webkit-transition: .68s cubic-bezier(.645,.045,.355,1);
		transition: .68s cubic-bezier(.645,.045,.355,1);
		overflow: hidden;
	}

	.hoves h1:hover:before {
		width: 100%;
	}
	
	.footer{
		position: relative;
		width: 100%;
		transition: .32s ease-in;
		overflow: hidden;
	}
	
	#footer p{
		font-family: "Kessel 105","Helvetica Neue",Helvetica,Arial,sans-serif;
		color: #272626;
		font-stretch: ultra-condensed;
		font-feature-settings: inherit;
		text-transform: uppercase;
		font-weight: 900;
		font-size: x-large;
	}

	#footer p a{
		color: #fff;
		text-decoration: none;
		cursor: pointer;
	}
	
	.footer-content{
		position: relative;
		transform: translateY(-160%);
		-webkit-transform: translateY(-160%);
		transition: .52s cubic-bezier(.645,.045,.35,1);
		-webkit-transition: .52s cubic-bezier(.645,.045,.35,1);
		
	}

	
	.move-in{
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	
	.section{
		Width: 90%;
		margin: 20px auto;
		Padding: 0 0;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
		position: relative;
		
	}

	@media screen and (min-width: 768px ){
	.section{
		Width: 72%;
		margin: 20px auto;
		Padding: 0 0;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
		position: relative;
		
	}
	}
	
	
	.section-header{
	
		width: 100%;
		Overflow: hidden ;
		background-color: transparent ;
		padding: 10px 70px;
		-webkit-transition: all 0.4s ease-in;
		Transition: all 0.4s ease-in;
	}
	
	.section:hover .section-image{
		position: relative;
		top:0;
		
		
	}
	.section-image{
		width:100%;
		position: relative!important;
		top: 100%!important;
		-webkit-transition: all 0.4s ease-in;
		Transition: all 0.4s ease-in;
	}
	
	.section-tag{
		display: none;
	}
	
		@media screen and (min-width: 768px ){
	.section-header{
	
		width: 100%;
		Overflow: hidden ;
		background-color: transparent ;
		padding: 10px 70px;
		}
	
	.section:hover .section-image{
		position: relative;
		top:0;
		
		
	}
	.section-image{
		display: none;
		width:100%;
		position: relative!important;
		top: 100%!important;
		-webkit-transition: all 0.4s ease-in;
		Transition: all 0.4s ease-in;
	}
	.section-tag{
		Height: 120px;
		width: 120px;
		border-radius: 50%;
		background-color: #38afd3;
		color: #fff;
		margin: 6px;
		padding: 4px 14px;
		vertical-align: center;
		position: absolute!important;
		z-index:-1;
		top: 40px!important;
		right: 0!important;
		-webkit-transition: all 0.4s ease-in;
		transition: all 0.4s ease-in;
		display: block;
	}

	.section:hover .section-tag{
		position: absolute!important;
		top: 40px!important;
		right: -18%!important;
		/* font-size: 22px; */
	}
	
	
	.section-tag h1{
		font-family:'comfortaabold';
		letter-spacing: 3px;
	}

	
	}

		
	.section h4{
		margin: 12px 12px;
		font-weight: 800;
		font-family: 'comfortaabold';
	}
	
	@media screen and (min-width: 768px ){
	.input-container{
	 	margin: 60px auto;
		width: 100%!important;
		text-align: center;
	}

	.inputs{
		width: 33.33%;
		border-bottom: 3px solid #333;
		box-sizing: border-box;
		padding: 0 6px ;
		margin: 6px 8%;
		font-size: 30px;
		font-color: #333;
		Transition: all 0.4s ease-in;
		-webkit-transition: all 0.4s ease-in;
		
	}
	
		    .inputs:hover, .inputs:focus{
		width: 41%;
		margin: 6px 4%;
	
	}
		
	
	}
	
	.input-container{
			width: 60%;
	}
	

	.inputs{
		width: 100%;
		Border-style: none;
		border-bottom: 3px solid #333;
		box-sizing: border-box;
		padding: 0 6px ;
		margin: 6px 6px;
		font-size: 22px;
		font-color: #333;
		Transition: all 0.4s ease-in;
		-webkit-transition: all 0.4s ease-in;
		
	}
	
    .inputs:hover, .inputs:focus{
		border-bottom: 3px solid #39A7D9;
		width: 90;

	}
	
	
	@media screen and (min-width: 768px ){
	.input-container{
	 	margin: 60px auto;
		width: 100%!important;
		text-align: center;
	}
	
	.inputs{
		width: 33.33%;
		border-bottom: 3px solid #333;
		box-sizing: border-box;
		padding: 0 6px ;
		margin: 6px 8%;
		font-size: 30px;
		font-color: #333;
		Transition: all 0.4s ease-in;
		-webkit-transition: all 0.4s ease-in;
		
	}
	
		    .inputs:hover, .inputs:focus{
		width: 41%;
		margin: 6px 4%;
	
	}
		
	
	}
.input-container2{
	margin: 60px auto;
	width: 100%;
	text-align: center;
}
	@media screen and (min-width: 768px ){
		.inputs2 {
			/* float: left; */
			width: 33.6%;
			Border-style: none;
			border-bottom: 3px solid #333;
			box-sizing: border-box;
			padding: 0 6px;
			margin: 6px 8%;
			font-color: #333;
			font-size: 30px;
			Transition: all 0.4s ease-in;
			-webkit-transition: all 0.4s ease-in;
		}

	}
	

.inputs2 {
    /* float: left; */
    width: 33.2%;
    Border-style: none;
    border-bottom: 3px solid #333;
    box-sizing: border-box;
    padding: 0 6px;
    margin: 6px 8%;
    font-color: #333;
    font-size: 22px;
    Transition: all 0.4s ease-in;
    -webkit-transition: all 0.4s ease-in;
}
	    .inputs2:hover, .inputs:focus{
	width: 41%;
	margin: 6px 4%;
    border-bottom: 3px solid #39A7D9;
}
	input:disabled, textarea:disabled {
		background-color: transparent;
		color: #ddd;
		border-bottom: 3px solid #ccc;
		cursor: default;		
	}

	input:disabled:hover, textarea:disabled{
		width: 34;
		margin: 6px 4%;
		border-bottom: 3px solid #bbb;
}
	
	@media screen and (min-width: 768px ){

		
		.output-container{
		background-color: #333;
		padding: 20px 0;
		}
		
		#ratio{
		color:#fff;
		padding:6px 12px;
		text-align: center;
		font-size: 30px!important;
		margin: auto;
		
		
		}
		
		
	}
	
	input.inputs::placeholder{
		opacity: 0.5;
	}
	
	.main-btn{
		Height: 80px;
		width: 80px;
		border-radius: 50%;
		background-color: #385A77;
		color: #fff;
		margin: 6px;
		padding : 4px 14px;
		vertical-align: center;
		position: absolute!important;
		bottom: -40px!important;
		right: 4%!important;
		font-size: 22px;
		z-index:2!important;
	
	}
	
	.output-container{
		    margin:20px auto 0 auto;
			width:100%;
			background-color: #39A7D9;
			padding: 20px 0;
			transition: all 0.4s ease-in;
			-webkit-transition: all 0.4s ease-in;
			z-index:1;
	}
	
	.output-container:hover{
		position: relative;
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		top: -10%;
		z-index:2;
	}
		
	
	#ratio{
		color:#fff;
		background-color: transparent ;
		min-height:20px;
		padding:6px 12px;
		text-align: center;
		font-size: 20px;
		margin: auto;
		
		
	}


/*==========================================
PRE LOADER 
==========================================*/