/*
Author: Alphas

*/
/* ==========================================================================
   Alphas custom styles
   ========================================================================== */
/* Specify in CSS
Use the following CSS rules to specify these families: */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --background: #232329;
  --background-write-up: rgba(255, 255, 255, 0.364);
  --background-variant: #ffd431;
  --shadow: inset 0 10px 40px rgba(0, 0, 0, 0.5);
  --display-text: #fff;
  --text: #232329;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Noto Sans JP', sans-serif;
  background: var(--background);
}

button {
  border: none;
}

.scrollbar {
  overflow-y: scroll;
  margin: auto;
  /*padding: 1%;*/
}

#body::-webkit-scrollbar {
  width: 12px;
  background-color: var(--background);
}

#body::-webkit-scrollbar-track {
  background-color: var(--background);
}

#body::-webkit-scrollbar-thumb {
  background-color: var(--background-variant);
}

.hoves-preloader {
  Position: fixed;
  width: 100%;
  Height: 100vh;
  background-color: #383737;
  z-index: 999;
}

.main-body {
  width: 100%;
  height: 98%;
}

.hoves-container {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
}

.container-header {
  width: 100%;
  position: fixed;
  padding: 2%;
  z-index: 3;
  margin: auto;
}

.svg-container {
  width: 50px;
  height: 50px;
  Position: relative;
  margin: 1.2%;
  text-align: center;
  transition: 0.72s cubic-bezier(0, 0, 1, 1);
  -webkit-transition: 0.72s cubic-bezier(0, 0, 1, 1);
}

svg {
  left: 0;
  top: 0;
  position: absolute;
}

#circle1 {
  opacity: 1;
  /*vector-effect:none;*/
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: var(--display-text);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 230, 230;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  paint-order: markers stroke fill;
  transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
  -webkit-transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
}

#circle2 {
  opacity: 1;
  /*vector-effect:none;*/
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: var(--background);
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 230, 230;
  stroke-dashoffset: 230;
  stroke-opacity: 1;
  paint-order: markers stroke fill;
  transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
  -webkit-transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
}

#path1 {
  display: inline;
  /*vector-effect:none;*/
  fill: var(--display-text);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  paint-order: markers fill stroke;
}

#path2 {
  display: inline;
  /*vector-effect:none;*/
  fill: var(--background-variant);
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  paint-order: markers fill stroke;
}

.svg-container svg:last-child {
  transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
  -webkit-transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
}

.svg-container:hover #circle1 {
  stroke-dashoffset: 57.5;
}

.svg-container:hover #circle2 {
  stroke-dashoffset: 0;
}

.hoves {
  text-align: center;
  width: 100%;
  margin: auto;
}

.hoves-slides-container {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 50vh 50vh;
      grid-template-rows: 50vh 50vh;
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .hoves-slides-container {
    -ms-grid-rows: none;
        grid-template-rows: none;
  }
  .hoves-slides-container .indicator-container {
    grid-row: unset;
  }
}

.indicator-container {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-row: 2;
  grid-row: 2;
  z-index: 3;
}

.indicator-container .indicators-container {
  position: relative;
}

.animate-in:nth-child(1) {
  -webkit-animation: animate-in 0.76s ease-in;
  animation: animate-in 0.76s ease-in;
}

@-webkit-keyframes animate-in {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@keyframes animate-in {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

.indicator-svg-container:nth-child(1) circle {
  opacity: 1;
  /*vector-effect:none;*/
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 120;
  stroke-dashoffset: calc(120 - (120 * 0) / 100);
  stroke-opacity: 1;
  paint-order: markers stroke fill;
  transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
  -webkit-transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
}

.indicator-svg-container:nth-child(2) circle {
  opacity: 1;
  /*vector-effect:none;*/
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 120;
  stroke-dashoffset: calc(120 - (120 * 0) / 100);
  stroke-opacity: 1;
  paint-order: markers stroke fill;
  transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
  -webkit-transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
}

.indicator-svg-container:nth-child(3) circle {
  opacity: 1;
  /*vector-effect:none;*/
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: var(--display-text);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 120;
  stroke-dashoffset: calc(120 - (120 * 0) / 100);
  stroke-opacity: 1;
  paint-order: markers stroke fill;
  transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
  -webkit-transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
}

.indicator-svg-container:nth-child(4) circle:nth-of-type(2) {
  opacity: 1;
  /*vector-effect:none;*/
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: var(--background-variant);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 120;
  stroke-dashoffset: calc(120 - (120 * 0) / 100);
  stroke-opacity: 1;
  paint-order: markers stroke fill;
  transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
  -webkit-transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
}

.indicator-svg-container {
  margin: 8%;
  width: 60px;
  height: 60px;
  Position: relative;
  text-align: center;
  transition: 0.72s cubic-bezier(0, 0, 1, 1);
  -webkit-transition: 0.72s cubic-bezier(0, 0, 1, 1);
  cursor: pointer;
}

.indicator-svg-container:before {
  content: attr(data-tag);
  position: absolute;
  left: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  opacity: 0;
  padding: 4px 8px;
  color: var(--text);
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  background: var(--background-write-up);
  border-radius: 36px;
  -webkit-transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.indicator-svg-container:hover:before {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  opacity: 1;
}

.indicator-svg-container svg {
  left: 0;
  top: 0;
  position: absolute;
}

#indicator-circle1 {
  opacity: 1;
  /*vector-effect:none;*/
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: var(--display-text);
  stroke-width: 12;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: 120;
  stroke-dashoffset: calc(120 - (120 * 100) / 100);
  stroke-opacity: 1;
  paint-order: markers stroke fill;
  transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
  -webkit-transition: 0.72s cubic-bezier(0.3, 0, 0.25, 1);
}

#indicator-circle2 {
  stroke: var(--background-variant);
}

@media screen and (min-width: 700px) {
  .indicator-container {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.hoves-display-container {
  position: relative;
  width: 50%;
  margin: 2% 2% 2% 2%;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  grid-column-end: 5;
}

.blob {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  height: 500px;
  width: 500px;
  background: var(--background-variant);
  background-size: cover;
  -webkit-animation: fluid 12s linear infinite;
          animation: fluid 12s linear infinite;
  border-radius: 54% 56% 67% 48% / 65% 58% 52% 45%;
  position: relative;
}

.blob:hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  animation-direction: alternate-reverse;
}

.images-display-container {
  position: absolute;
  width: 300px;
  height: 300px;
  top: calc(50% - (300px / 2));
  left: 30%;
}

.images-display-container .image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  animation: float 4s ease-in-out infinite alternate-reverse;
}

.images-display-container .image-wrapper:nth-of-type(1) {
  left: -50%;
  top: 0;
  width: 280px;
  height: 280px;
}

.images-display-container .image-wrapper:nth-of-type(2) {
  left: -50%;
  top: 15%;
  width: 280px;
  height: 280px;
  animation: float 3.8s ease-in-out infinite alternate-reverse;
}

.images-display-container .image-wrapper:nth-of-type(3) {
  left: 70%;
  top: 10%;
  width: 70px;
  height: 70px;
  animation: float 3s ease-in-out infinite alternate-reverse;
}

.images-display-container .image-wrapper img {
  width: 100%;
}

@-webkit-keyframes fluid {
  0% {
    border-radius: 54% 56% 67% 48% / 65% 58% 52% 45%;
  }
  12% {
    border-radius: 53% 81% 91% 58% / 88% 56% 84% 80%;
  }
  25% {
    border-radius: 25% 95% 70% 50% / 65% 65% 52% 60%;
  }
  37% {
    border-radius: 33% 78% 50% 60% / 70% 56% 85% 60%;
  }
  50% {
    border-radius: 50% 72% 44% 56% / 49% 40% 60% 51%;
  }
  62% {
    border-radius: 47% 60% 70% 37% / 47% 72% 38% 57%;
  }
  75% {
    border-radius: 72% 80% 84% 62% / 100% 70% 75% 50%;
  }
  87% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
  100% {
    border-radius: 54% 56% 67% 48% / 65% 58% 52% 45%;
  }
}

@keyframes fluid {
  0% {
    border-radius: 54% 56% 67% 48% / 65% 58% 52% 45%;
  }
  12% {
    border-radius: 53% 81% 91% 58% / 88% 56% 84% 80%;
  }
  25% {
    border-radius: 25% 95% 70% 50% / 65% 65% 52% 60%;
  }
  37% {
    border-radius: 33% 78% 50% 60% / 70% 56% 85% 60%;
  }
  50% {
    border-radius: 50% 72% 44% 56% / 49% 40% 60% 51%;
  }
  62% {
    border-radius: 47% 60% 70% 37% / 47% 72% 38% 57%;
  }
  75% {
    border-radius: 72% 80% 84% 62% / 100% 70% 75% 50%;
  }
  87% {
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
  100% {
    border-radius: 54% 56% 67% 48% / 65% 58% 52% 45%;
  }
}

.container-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}

.overlay-content {
  position: absolute;
  left: 20%;
  top: 50%;
  color: var(--display-text);
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  -webkit-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}

.txt-contain {
  overflow: hidden;
  width: 500px;
  height: 100px;
  font-family: 'Muli', "Kessel 105","Helvetica Neue",Helvetica,Arial,sans-serif;
  animation: float 4s ease-out infinite alternate-reverse;
}

.txt-contain h1 {
  position: absolute;
  margin: 0;
  top: -10px;
  /* font-family: "Kessel 105","Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-weight: 900;
  -webkit-font-smoothing: antialiased !important;
}

.txt-contain span {
  top: 10px;
  position: absolute;
  font-size: 3.05rem;
  display: block;
  line-height: 1.5;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: var(--display-text);
  font-weight: 900;
  -webkit-font-smoothing: antialiased !important;
  -webkit-transition: none !important;
  transition: none !important;
}

.txt-contain span:before {
  color: var(--background-variant);
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  width: 0;
  -webkit-transition: 0.68s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.68s cubic-bezier(0.645, 0.045, 0.355, 1);
  overflow: hidden;
}

.txt-contain span:hover:before {
  width: 100%;
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
}

@media screen and (min-width: 700px) {
  .hoves-display-container {
    position: relative;
  }
  .hoves-display-container .blob .images-display-container {
    position: absolute;
    width: 300px;
    height: 300px;
    top: calc(50% - (300px / 2));
    left: 50%;
  }
  .hoves-display-container .blob .images-display-container .image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    animation: float 4s ease-in-out infinite alternate-reverse;
  }
  .hoves-display-container .blob .images-display-container .image-wrapper:nth-of-type(1) {
    left: -50%;
    top: -10%;
    width: 400px;
    height: 400px;
  }
  .hoves-display-container .blob .images-display-container .image-wrapper:nth-of-type(2) {
    left: -50%;
    top: 5%;
    width: 400px;
    height: 400px;
    animation: float 3.8s ease-in-out infinite alternate-reverse;
  }
  .hoves-display-container .blob .images-display-container .image-wrapper:nth-of-type(3) {
    left: 70%;
    top: 10%;
    width: 100px;
    height: 100px;
    animation: float 3s ease-in-out infinite alternate-reverse;
  }
  .hoves-display-container .blob .images-display-container .image-wrapper img {
    width: 100%;
  }
  .hoves-display-container .container-overlay .overlay-content {
    left: 104%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hoves-display-container .container-overlay .overlay-content .txt-contain span {
    font-size: 4rem;
  }
}

.scrldwn {
  width: 120px;
  height: 60px;
  margin: auto;
  position: relative;
  display: table;
}

.mouse {
  width: 100%;
  height: 100%;
}

.scrldwn svg {
  width: 50px;
  height: 50px;
  margin: auto;
}

/*######## sections ########*/
.section {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--background);
  display: table;
  margin: 0 auto;
  -webkit-transition: 0.85s ease-out;
  transition: 0.85s ease-out;
}

.section .section-header {
  width: 100%;
  height: 4em;
}

.section .section-header h1 {
  font-size: 400%;
  color: var(--background-write-up);
  position: absolute;
  left: 5%;
}

@media screen and (min-width: 700px) {
  .section {
    Width: 100%;
    margin: 20px auto;
    Padding: 0 0;
    position: relative;
  }
  .section .section-header h1 {
    font-size: 500%;
  }
}

.intro-container {
  Width: 80%;
  margin: auto;
  position: relative;
  -webkit-transition: 0.64s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: 0.64s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
  -webkit-transition: 0.85s ease-out;
  transition: 0.85s ease-out;
}

@media screen and (min-width: 700px) {
  .intro-container {
    margin: auto;
    Width: 80%;
  }
}

.intro-item-column {
  Position: relative;
  top: 0px;
  float: left;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.85s ease-out;
  transition: 0.85s ease-out;
}

.intro-item-column:nth-of-type(1) {
  -webkit-transition: calc(0.85s + (1 * 1.2)) ease-out;
  transition: calc(0.85s + (1 * 1.2)) ease-out;
}

.intro-item-column:nth-of-type(2) {
  -webkit-transition: calc(0.85s + (2 * 1.2)) ease-out;
  transition: calc(0.85s + (2 * 1.2)) ease-out;
}

.intro-item-column:nth-of-type(3) {
  -webkit-transition: calc(0.85s + (3 * 1.2)) ease-out;
  transition: calc(0.85s + (3 * 1.2)) ease-out;
}

.intro-item {
  Position: relative;
  -webkit-transition: top  0.6s ease-in, -webkit-box-shadow  0.6s ease-in;
  transition: top  0.6s ease-in, -webkit-box-shadow  0.6s ease-in;
  transition: box-shadow  0.6s ease-in, top  0.6s ease-in;
  transition: box-shadow  0.6s ease-in, top  0.6s ease-in, -webkit-box-shadow  0.6s ease-in;
  margin: 2em 5%;
  overflow: hidden;
  border-radius: 0.45em;
  -webkit-transition: 0.85s ease-out;
  transition: 0.85s ease-out;
}

.intro-item:hover {
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
  Position: relative;
}

@media screen and (min-width: 700px) {
  .intro-item-column {
    Position: relative;
    top: 0px;
    float: left;
    width: 33.333%;
  }
  .intro-item {
    Position: relative;
    -webkit-transition: top  0.6s ease-in, -webkit-box-shadow  0.6s ease-in;
    transition: top  0.6s ease-in, -webkit-box-shadow  0.6s ease-in;
    transition: box-shadow  0.6s ease-in, top  0.6s ease-in;
    transition: box-shadow  0.6s ease-in, top  0.6s ease-in, -webkit-box-shadow  0.6s ease-in;
  }
}

.item-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  Overflow: hidden;
}

.item-container:hover .item-image {
  -webkit-filter: blur(8.5px);
          filter: blur(8.5px);
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.item-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: cover;
  width: 110%;
  height: calc(100%);
  background-color: transparent;
  -webkit-transition: background-color 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  Transition: background-color 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.item-overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.item-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  top: 100%;
  width: 96%;
  height: 100%;
  border-top: 88px solid var(--background-variant);
  background-color: var(--background-write-up);
  color: var(--text);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.item-content .item-wrapper {
  padding: 1em;
}

.item-content .item-wrapper h1 {
  padding: 0.25em;
  margin-bottom: 0.15em;
  text-align: center;
  font-size: 2em;
}

.item-content .item-wrapper p {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.item-overlay:hover .item-content {
  left: 50%;
  top: 50%;
  width: 96%;
  height: 100%;
  border-top: 10px solid var(--background-variant);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  position: relative;
  height: 100px;
  width: 100%;
  -webkit-transition: .32s ease-in;
  transition: .32s ease-in;
  overflow: hidden;
  background: var(--background-write-up);
}

#footer p {
  font-family: "Muli","Kessel 105","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-stretch: ultra-condensed;
  -webkit-font-feature-settings: inherit;
  font-feature-settings: inherit;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1em;
  font-size: x-large;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--text);
}

#footer p a {
  color: var(--display-text);
  text-decoration: none;
  cursor: pointer;
}

.footer-content {
  position: relative;
  -webkit-transform: translateY(-160%);
          transform: translateY(-160%);
  -webkit-transition: 0.52s cubic-bezier(0.645, 0.045, 0.35, 1);
  transition: 0.52s cubic-bezier(0.645, 0.045, 0.35, 1);
}

.move-in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.column-def {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  position: relative;
}

.move-in-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#themes {
  position: fixed;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -100%) rotate(90deg);
          transform: translate(-50%, -100%) rotate(90deg);
  -webkit-transition: 0.34s ease-in;
  transition: 0.34s ease-in;
}

#themes .themes-btns-cnt {
  padding: 6px 2px;
  border-radius: 32px;
  background: var(--background-variant);
}

#themes .themes-btns-cnt button {
  width: 20px;
  height: 20px;
  border: 4px;
  border-style: solid;
  margin: 8px;
  display: block;
  border-radius: 50%;
}

#themes:focus {
  left: 50%;
}

@media screen and (min-width: 700px) {
  #themes {
    position: fixed;
    left: calc(95% - 10px);
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  #themes .themes-btns-cnt {
    padding: 6px 2px;
    border-radius: 32px;
    background: var(--background-variant);
    cursor: pointer;
  }
  #themes .themes-btns-cnt button {
    width: 20px;
    height: 20px;
    border: 4px;
    border-style: solid;
    margin: 8px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
  }
  #themes .themes-btns-cnt button:before {
    content: attr(data-tag);
    position: absolute;
    left: -100%;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    opacity: 0;
    padding: 4px 8px;
    color: var(--text);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    background: var(--background-write-up);
    border-radius: 36px;
    -webkit-transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #themes .themes-btns-cnt button:hover:before {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */